In [1]:
import pandas as pd
import numpy as np
from sklearn import neighbors
import cPickle as pickle

In [2]:
prop = pickle.load(open("../../datos/Data.p","rb"))

In [3]:
p = prop[['surface_total_in_m2','surface_covered_in_m2',\
          'price_usd_per_m2','Cant_ColeYUniv','Cant_LocalesGastronomicos',
         'Cant_LugaresTuristicos']]
p.dropna(inplace = True)

/home/facundo/.local/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# Pruebo primero entrenando con el 80% y dejo el 20% para probar

In [ ]:
#Esta inicializacion del set no se porque no es lo mismoo!!!
#pERO

columnas = ['surface_total_in_m2','surface_covered_in_m2',\
            'Cant_ColeYUniv','Cant_LocalesGastronomicos','Cant_LugaresTuristicos']
columnas_precio = columnas + ['price_usd_per_m2']
set_entrenamiento = p.loc[:,columnas_precio]
pruebas = p.loc[:,columnas_precio].head(20000)

datosEntrenamiento = set_entrenamiento.loc[:,columnas]
resultadosEntrenamiento = set_entrenamiento.loc[:,'price_usd_per_m2']

In [4]:
datosEntrenamiento = p[['surface_total_in_m2','surface_covered_in_m2',\
                  'Cant_ColeYUniv','Cant_LocalesGastronomicos',\
                   'Cant_LugaresTuristicos']].head(54822)

resultadosEntrenamiento = p[['price_usd_per_m2']].head(54822)

pruebas = p[['surface_total_in_m2','surface_covered_in_m2',\
                  'Cant_ColeYUniv','Cant_LocalesGastronomicos',\
                   'Cant_LugaresTuristicos']].tail(13706)

In [5]:
#Inicializo la instancia del algoritmo
knn = neighbors.KNeighborsRegressor()
knn.fit(datosEntrenamiento, resultadosEntrenamiento)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [7]:
columnas = ['surface_total_in_m2','surface_covered_in_m2',\
        'Cant_ColeYUniv','Cant_LocalesGastronomicos',\
        'Cant_LugaresTuristicos']

In [8]:
pruebas.loc[:,'resultado'] = pruebas.loc[:,columnas].apply(lambda x: knn.predict([x])[0],axis = 1)

In [9]:
pruebas.head(10)

,surface_total_in_m2,surface_covered_in_m2,Cant_ColeYUniv,Cant_LocalesGastronomicos,Cant_LugaresTuristicos,resultado
57784,112.0,104.0,17,160,5,NaN
57785,120.0,120.0,53,199,20,NaN
57786,22.0,22.0,31,109,7,NaN
57787,214.0,200.0,4,39,3,NaN
57788,263.0,263.0,5,11,0,NaN
57790,43.0,36.0,11,44,4,NaN
57791,50.0,50.0,8,56,8,NaN
57792,155.0,135.0,0,9,0,NaN
57793,450.0,450.0,2,12,2,NaN
57794,72.0,67.0,40,200,46,NaN