In [1]:
import pandas as pd
import numpy as np
from sklearn import neighbors
import cPickle as pickle

In [2]:
prop = pickle.load(open("../../datos/Data.p","rb"))

In [5]:
#p = prop[['property_type','place_name','surface_total_in_m2','surface_covered_in_m2',\
 #         'price_usd_per_m2','latlon','Cant_ColeYUniv','Cant_LocalesGastronomicos',
  #       'Cant_LugaresTuristicos']]
p = prop[['surface_total_in_m2','surface_covered_in_m2',\
          'price_usd_per_m2','Cant_ColeYUniv','Cant_LocalesGastronomicos',
         'Cant_LugaresTuristicos']]
p.dropna(inplace = True)
#p.info()

/home/facundo/.local/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
p.head()

,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,Cant_ColeYUniv,Cant_LocalesGastronomicos,Cant_LugaresTuristicos
0,333.0,93.0,360.360360,12,91,1
1,220.0,220.0,1000.000000,12,91,1
2,300.0,103.0,616.666667,4,16,6
3,60.0,60.0,1466.666667,4,24,2
4,37.0,37.0,1405.405405,6,49,0

In [ ]:
p['lat'] = p.apply(lambda row: row[5][0], axis=1)

In [ ]:
p['lon'] = p.apply(lambda row: row[5][1], axis=1)

In [ ]:
def asignarPT( p ):
    if p == 'apartment':
        return 0
    if p == 'house':
        return 1
    if p == 'store':
        return 2
    return 3

In [ ]:
p['property_type'] = p.apply(lambda x: asignarPT(x[0]), axis = 1)

In [ ]:
p.info()

# Pruebo primero entrenando con el 80% y dejo el 20% para probar

In [ ]:
datosEntrenamiento = p[['property_type','surface_total_in_m2','surface_covered_in_m2',\
                  'lat','lon','Cant_ColeYUniv','Cant_LocalesGastronomicos',\
                   'Cant_LugaresTuristicos']].head(54822)
resultadosEntrenamiento = p[['price_usd_per_m2']].head(54822)

pruebas = p[['property_type','surface_total_in_m2','surface_covered_in_m2',\
                  'lat','lon','Cant_ColeYUniv','Cant_LocalesGastronomicos',\
                   'Cant_LugaresTuristicos']].tail(13706)

In [ ]:
#Inicializo la instancia del algoritmo
knn = neighbors.KNeighborsRegressor()

In [ ]:
#Parametros modificables de knn
lista_p = [1,2] #1 es manhattan, 2 euclidea
lista_n = [x for x in xrange(1,10)]
a = ['auto', 'ball_tree', 'kd_tree', 'brute']
w = ['uniform', 'distance']

In [ ]:
knn.fit(datosEntrenamiento, resultadosEntrenamiento)

In [ ]:
col = ['property_type','surface_total_in_m2','surface_covered_in_m2',\
        'lat','lon','Cant_ColeYUniv','Cant_LocalesGastronomicos',\
        'Cant_LugaresTuristicos']

pruebas.loc[:,'resultado'] = pruebas.loc[:,col].apply(lambda x: knn.predict(x)[0], axis=1)

In [ ]:
pruebas.tail(10)